@use "sass:map";

body {
	height: 100%;
	background: rgb(255, 211, 78);
	background: linear-gradient(90deg, rgba(255, 211, 78, 1) 0%, rgba(255, 159, 118, 1) 100%);
}

cite {
	font-size: 0.9rem;
}

.container {
	@include media-breakpoint-up(sm) {
		max-width: map.get($grid-breakpoints, "sm");
	}

	&--adjustments {
		padding: 40px 0;
		background-color: white;
		margin-top: 20px;
		border-radius: 5px;
	}
}

.fa-quote-left {
	color: #ebcb00;
	font-size: 1.5rem;
	float: left;
	margin-right: 10px;
}

.carousel-indicators {
	bottom: -40px;
}

.carousel-item {
	&__wrapper {
		max-width: 450px;
		margin: 0 auto;
		padding: 0 50px;
	}
}